/* Estilos generales para el formulario */
* {
    font-family: Hanken Grotesk, sans-serif;
}

.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    padding: 2em;
    background: #E6F0FF;
}

/* Estilos para los títulos de las etapas */
.formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario h3 {
    border-bottom: #0056b3;
}

.carta {
    max-width: 1200px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 10.5px 6px 3.5px 0 #dddddd;
    -moz-box-shadow: 10.5px 6px 3.5px 0 #dddddd;
    box-shadow: 10.5px 6px 3.5px 0 #dddddd;
}

.contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

/* Estilos para los campos de formulario */
.formulario label {
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para los botones */
.formulario button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0056b3;
}

.carta button {
    margin-left: 5px;
}

/* Estilos específicos para Etapa2 */
.formulario .etapa2 input[type="password"] {
    /* Estilos adicionales para campos de contraseña */
}

/* Otros estilos personalizados que desees agregar */

