/* Estilos generales para el formulario */
* {
    font-family: Hanken Grotesk, sans-serif;
}

/* Estilos para los títulos de las etapas */
.formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario h3 {
    border-bottom: #0056b3;
}

.contenido {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 2em;
}